.label-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

label {
    display: block;
    white-space: nowrap;
}

:host {
    flex-basis: 7em;
}