.labeled-input-container {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
    gap: 1.5em;
    flex-wrap: wrap;

    @media screen and (max-width: 30em) {
        gap: 0.6em;
    }
}

:host {
    color: white;
}